<script>
  import Layout from './Layout.svelte'
  import AsyncSelect from '../../components/AsyncSelect.svelte'
  import SyncSelect from '../../components/SyncSelect.svelte'
  import { push } from 'svelte-spa-router'
  import { getLabel } from '../../utils/view-helper'
  import * as methods from '../../utils/request'
  import { views } from '../../store'

  export let view = {}
  export let id = null

  console.log('View:', view)

  let editing = !!id
  let loading = false
  let sending = false
  let item = {}
  let invalidList = []

  function parseItemPropValue (item, field) {
    let val = ''
    if (field.type === 'json' && item[field.name]) {
      val = JSON.stringify(item[field.name])
    } else {
      val = item[field.name]
    }

    return val
  }

  function loadContent () {
    if (!id || loading === true) {
      return
    }

    loading = true

    methods.get(`/data/${id}`, { include: view.include }, { Model: view.Model.modelName })
      .then(({ data }) => {
        if (data.result) {
          view.ViewFields.forEach(viewField => {
            item[viewField.ModelField.name] = parseItemPropValue(data.result, viewField.ModelField) || ''
          })
        }
      })
      .catch(console.error)
      .finally(() => {
        loading = false
      })
  }

  function submit ($event) {
    $event.preventDefault()

    sending = true

    const method = editing ? 'put' : 'post'
    const url = editing ? `/data/${id}` : '/data'

    const dataToSend = { ...item }
    invalidList = []

    view.ViewFields.forEach(viewField => {
      if (viewField.ModelField.type === 'boolean') {
        dataToSend[viewField.ModelField.name] = !!dataToSend[viewField.ModelField.name]
      } else if (viewField.ModelField.type === 'json') {
        dataToSend[viewField.ModelField.name] = dataToSend[viewField.ModelField.name] ? JSON.parse(dataToSend[viewField.ModelField.name]) : null
      }

      if (viewField.required && !dataToSend[viewField.ModelField.name]) {
        invalidList.push(viewField)
      }
    })

    if (invalidList.length) {
      sending = false
      return
    }

    methods[method](url, dataToSend, { Model: view.Model.modelName })
      .then(({ data }) => {
        const action = view.ViewActions.find(a => a.type === 'submit')
        if (action) {
          push(`/admin${action.slug}`)
        } else {
          push(`/admin${view.slug}`)
        }
      })
      .catch(console.error)
      .finally(() => {
        sending = false
      })
  }

  // JS changes detection caveat...
  function addChildRow (field) {
    const itemToModify = { ...item }
    const newItemArray = [ ...item[field.ModelField.name] ]
    const childView = $views.find(v => v.id === field.ChildViewId)
    const newObject = {}

    childView.ViewFields.forEach(viewField => {
      newObject[viewField.ModelField.name] = viewField.ModelField.default
    })

    newItemArray.push(newObject)

    itemToModify[field.ModelField.name] = newItemArray
    item = itemToModify
  }

  function removeChildRow (field, index) {
    const itemToModify = { ...item }
    const itemArrayToModify = [ ...item[field.ModelField.name] ]
    itemArrayToModify.splice(index, 1)

    itemToModify[field.ModelField.name] = itemArrayToModify
    item = itemToModify
  }

  // When view is changed, reload content (clear)
  $: if (id) {
    item = {}
    loadContent()
  }

  if (!id) {
    item = {}
    view.ViewFields.forEach(viewField => {
      if (viewField.ModelField.type === 'hasMany') {
        item[viewField.ModelField.name] = []
      } else {
        item[viewField.ModelField.name] = ''
      }
    })
  }
</script>

<svelte:head>
  {#if view}
    <title>{getLabel(view)}</title>
  {/if}
</svelte:head>

{#if view}
  <div class="p-4">
    <div class="flex justify-between mb-4">
      <div class="flex items-center">
        {#each view.ViewActions.filter(a => a.position === 'top left').sort((a, b) => a - b) as action}
          <a href="#/admin{action.slug}" class="button {action.class}">{getLabel(action)}</a>
        {/each}

        {getLabel(view)}
      </div>

      <div>
        {#each view.ViewActions.filter(a => a.position === 'top right').sort((a, b) => a - b) as action}
          <a href="#/admin{action.slug}" class="button {action.class}">{getLabel(action)}</a>
        {/each}
      </div>
    </div>

    <div class="card p-4">
      {#if invalidList && invalidList.length}
        <div class="message is-warning">
          <div class="message-body">
            <p class="is-size-5">{getLabel('reviewFields')}</p>

            <ul>
              {#each invalidList as invalid}
                <li>{getLabel(invalid)}</li>
              {/each}
            </ul>
          </div>
        </div>
      {/if}

      <form on:submit={submit}>
        <div class="columns is-multiline">
          {#each view.ViewFields as field}
            {#if field.ModelField.type === 'belongsTo'}
              <div class="column {field.class}">
                <label class="label" for="field_{field.ModelField.name}">{getLabel(field)}</label>
                <SyncSelect field={field} id="field_{field.ModelField.name}" value={item[field.ModelField.name]} on:change={e => item[field.ModelField.name] = e.detail} />
              </div>

            {:else if field.ModelField.type === 'hasMany'}
              <div class="column is-full {field.class}">
                <div class="subform">
                  <div class="p-4">
                    <h3 class="is-size-4">{getLabel(field)}</h3>

                    {#if item[field.ModelField.name]}
                      {#each item[field.ModelField.name] as childRow, index}
                        <div class="subform-column-wrapper">
                          <div class="columns">
                            <div class="column">
                              <div class="columns is-multiline">
                                {#each $views.find(v => v.id === field.ChildViewId).ViewFields as childField}
                                  <div class="column {childField.class}">
                                    {#if childField.ModelField.type === 'belongsTo'}
                                      <label class="label" for="field_{field.ModelField.name}_{childField.ModelField.name}_{index}">{getLabel(childField)}</label>
                                      <SyncSelect field={childField} id="field_{field.ModelField.name}_{childField.ModelField.name}_{index}" value={childRow[childField.ModelField.name]} on:change={e => childRow[childField.ModelField.name] = e.detail} />

                                    {:else if childField.ModelField.type === 'string'}
                                      <label class="label" for="field_{field.ModelField.name}_{childField.ModelField.name}_{index}">{getLabel(childField)}</label>
                                      <input type="text" id="field_{field.ModelField.name}_{childField.ModelField.name}_{index}" name="field_{childField.ModelField.name}" class="input" bind:value={childRow[childField.ModelField.name]} placeholder="{getLabel(childField)}" required={childField.required}>

                                    {:else if childField.ModelField.type === 'json' || childField.ModelField.type === 'text'}
                                      <label class="label" for="field_{field.ModelField.name}_{childField.ModelField.name}_{index}">{getLabel(childField)}</label>
                                      <textarea id="field_{field.ModelField.name}" name="field_{field.ModelField.name}_{childField.ModelField.name}_{index}" class="textarea" bind:value={childRow[childField.ModelField.name]} placeholder="{getLabel(childField)}" required={childField.required}></textarea>

                                    {:else if childField.ModelField.type === 'integer' || childField.ModelField.type === 'decimal'}
                                      <label class="label" for="field_{field.ModelField.name}_{childField.ModelField.name}_{index}">{getLabel(childField)}</label>
                                      <input type="number" id="field_{field.ModelField.name}_{childField.ModelField.name}_{index}" name="field_{childField.ModelField.name}" class="input" bind:value={childRow[childField.ModelField.name]} placeholder="{getLabel(childField)}" required={childField.required}>
                                    {:else if childField.ModelField.type === 'boolean'}
                                      <label class="label">&nbsp;</label>
                                      <label class="checkbox">
                                        <input type="checkbox" id="field_{field.ModelField.name}_{childField.ModelField.name}_{index}" name="field_{childField.ModelField.name}" bind:checked={childRow[childField.ModelField.name]}>
                                        {getLabel(childField)}
                                      </label>
                                    {:else if childField.ModelField.type === 'hasMany'}
                                      <!-- don't know what to do (Will it even be allowed?) -->
                                      <!-- <label class="label" for="field_{field.ModelField.name}_{childField.ModelField.name}_{index}">{getLabel(childField)}</label> -->
                                    {:else}
                                      <label class="label" for="field_{field.ModelField.name}_{childField.ModelField.name}_{index}">{getLabel(childField)}</label>
                                      {childField.ModelField.type}
                                    {/if}
                                  </div>
                                {/each}
                              </div>
                            </div>

                            <div class="column is-narrow action-bar flex items-center">
                              <button type="button" class="button is-danger is-light" on:click={removeChildRow(field, index)}>Remove</button>
                            </div>
                          </div>
                        </div>
                      {/each}
                    {/if}
                  </div>

                  <div class="subform-footer">
                    <button type="button" class="button is-info" on:click={addChildRow(field)}>New line</button>
                  </div>
                </div>
              </div>

            {:else if field.ModelField.type === 'string'}
              <div class="column {field.class}">
                <label class="label" for="field_{field.ModelField.name}">{getLabel(field)}</label>
                <input type="text" id="field_{field.ModelField.name}" name="field_{field.ModelField.name}" class="input" bind:value={item[field.ModelField.name]} placeholder="{getLabel(field)}" required={field.required}>
              </div>

            {:else if field.ModelField.type === 'password'}
              <div class="column {field.class}">
                <label class="label" for="field_{field.ModelField.name}">{getLabel(field)}</label>
                <input type="password" id="field_{field.ModelField.name}" name="field_{field.ModelField.name}" class="input" bind:value={item[field.ModelField.name]} placeholder="{getLabel(field)}" required={field.required}>
              </div>

            {:else if field.ModelField.type === 'json' || field.ModelField.type === 'text'}
              <div class="column {field.class}">
                <label class="label" for="field_{field.ModelField.name}">{getLabel(field)}</label>
                <textarea id="field_{field.ModelField.name}" name="field_{field.ModelField.name}" class="textarea" bind:value={item[field.ModelField.name]} placeholder="{getLabel(field)}" required={field.required}></textarea>
              </div>

            {:else if field.ModelField.type === 'integer' || field.ModelField.type === 'decimal'}
              <div class="column {field.class}">
                <label class="label" for="field_{field.ModelField.name}">{getLabel(field)}</label>
                <input type="number" id="field_{field.ModelField.name}" name="field_{field.ModelField.name}" class="input" bind:value={item[field.ModelField.name]} placeholder="{getLabel(field)}" required={field.required}>
              </div>

            {:else if field.ModelField.type === 'boolean'}
              <div class="column {field.class}">
                <label class="label">&nbsp;</label>
                <label class="checkbox">
                  <input type="checkbox" id="field_{field.ModelField.name}ield.ModelField.name}" bind:checked={item[field.ModelField.name]}>
                  {getLabel(field)}
                </label>
              </div>
            {:else}
              <div class="column {field.class}">
                <label class="label" for="field_{field.ModelField.name}">{getLabel(field)}</label>
                {field.ModelField.type}
              </div>
            {/if}

            {#if field.breakAfter}
              <div class="column is-full is-paddingless"></div>
            {/if}
          {/each}
        </div>

        {#if invalidList && invalidList.length}
          <div class="message is-warning">
            <div class="message-body">
              <p class="is-size-5">{getLabel('reviewFields')}</p>

              <ul>
                {#each invalidList as invalid}
                  <li>{getLabel(invalid)}</li>
                {/each}
              </ul>
            </div>
          </div>
        {/if}

        <div>
          {#each view.ViewActions.filter(a => a.position === 'form end').sort((a, b) => a - b) as action}
            {#if action.type === 'submit'}
              <button type="submit" class="button {action.class}" disabled={sending}>{getLabel(action)}</button>
            {:else}
              <a href="#/admin{action.slug}" class="button {action.class}">{getLabel(action)}</a>
            {/if}
          {/each}
        </div>
      </form>
    </div>
  </div>
{/if}
