<script>
  import Layout from './Layout.svelte'
  import { location, querystring } from 'svelte-spa-router'
  import { views } from '../../store'
  import { getLabel } from '../../utils/view-helper'
  import { get, destroy } from '../../utils/request'

  export let view = {}
  export let id = null

  console.log(view)

  let page = 0
  let loading = false
  let items = []

  function loadContent () {
    if (loading === true) {
      return
    }

    page++
    loading = true

    get('/data', { page, include: view.include }, { Model: view.Model.modelName })
      .then(({ data }) => {
        items = [ ...items, ...data.result ]
      })
      .catch(console.error)
      .finally(() => {
        loading = false
      })
  }

  // When view is changed, reload content (clear)
  $: if (view) {
    page = 0
    items = []
    loadContent()
  }

  function showConfirmDelete (index, showConfirm) {
    items = items.map((item, itemIndex) => {
      if (itemIndex === index) {
        item.confirmDelete = showConfirm
      }

      return item
    })
  }

  function deleteItem (actionParams, item) {
    /*
    Example of parameter parsing for custom functions

    const params = {}
    Object.keys(actionParams).forEach(key => {
      let matches = actionParams[key].match(/:(\w+):/)
      let value = actionParams[key]
      if (matches) {
        value = actionParams[key].replace(matches[0], item[matches[1]])
      }

      params[key] = value
    })
    */

    destroy(`/data/${item.id}`, null, { Model: view.Model.modelName })
      .then(({ data }) => {
        items = items.filter(i => i.id !== item.id)
      })
      .catch(console.error)
  }

  function getRelationName (item, field) {
    const desc = field.descriptionColumn || 'name'
    if (!item[field.ModelField.targetModelAlias]) {
      console.warn(`Relation ${field.ModelField.targetModelAlias} should be included in the query`)
      return ''
    }

    return item[field.ModelField.targetModelAlias][desc]
  }
</script>

<svelte:head>
  {#if view}
    <title>{getLabel(view)}</title>
  {/if}
</svelte:head>

{#if view}
  <div class="p-4">
    <div class="flex justify-between mb-4" style="height: 35px;">
      <div class="flex items-center">
        {#each view.ViewActions.filter(a => a.position === 'top left').sort((a, b) => a - b) as action}
          <a href="#/admin{action.slug}" class="button {action.class}">{getLabel(action)}</a>
        {/each}

        {getLabel(view)}
      </div>

      <div>
        {#each view.ViewActions.filter(a => a.position === 'top right').sort((a, b) => a - b) as action}
          <a href="#/admin{action.slug}" class="button {action.class}">{getLabel(action)}</a>
        {/each}
      </div>
    </div>

    <div class="card">
      <table class="table w-full">
        <thead>
          <tr>
            <!-- <th></th> -->

            {#each view.ViewFields as field}
              <th>{getLabel(field)}</th>
            {/each}

            <th></th>
          </tr>
        </thead>

        <tbody>
          {#each items as item, index}
            <tr>
              <!-- <td></td> -->

              {#each view.ViewFields as field}
                <td>
                  {#if field.ModelField.type === 'belongsTo'}
                    {getRelationName(item, field)}
                  {:else if field.ModelField.type === 'string'}
                    {item[field.ModelField.name]}
                  {:else if field.ModelField.type === 'boolean'}
                    <input type="checkbox" checked={item[field.ModelField.name]} disabled>
                  {:else}
                    Name: {field.ModelField.name}
                  {/if}
                </td>
              {/each}

              <td class="has-text-right">
                {#each view.ViewRowActions.sort((a, b) => a - b) as action}
                  {#if action.type === 'navigation'}
                    <a href="#/admin{action.slug.replace(/:id:/, item.id)}" class="mx-1 {action.class}">{getLabel(action)}</a>
                  {:else if action.type === 'delete'}
                    {#if item.confirmDelete === true}
                      <a href="javascript: void(0)" on:click={deleteItem(action.params, item)} class="mx-1 has-text-weight-semibold {action.class}">{getLabel('confirm?')}</a>
                      <a href="javascript: void(0)" on:click={$ev => showConfirmDelete(index, false)} class="mx-1 has-text-primary">{getLabel('cancel')}</a>
                    {:else}
                      <a href="javascript: void(0)" on:click={$ev => showConfirmDelete(index, true)} class="mx-1 {action.class}">{getLabel(action)}</a>
                    {/if}
                  {:else}
                    <!-- specify new action types -->
                  {/if}
                {/each}
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </div>
{/if}

